{% extends "index.html" %}

{% block content %}
  <div class="container">
    <h2>Available Lectures</h2>
    {% if lectures %}
    <div class="lecture-grid">
      {% for lecture in lectures %}
      <a href="{% url 'lecture' lecture.name %}" class="lecture-card">
        <h3>{{ lecture.title }}</h3>
        <p>Explore topics in {{ lecture.title }}.</p>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p class="no-lectures">No lectures available at the moment.</p>
    {% endif %}
  </div>
{% endblock %}